body, html, #app {
  height: 100%;
  background: hsl(0, 0%, 96%);
}

.page {
padding-top: 8%;
  min-height: 95%;
}

#loginCard {
  min-width: 500px;
}

#nav {
  position: fixed;
  width: 100%;

}

#monitors {
  display: flex;

  flex-wrap: wrap;
}

.monitor {
  width: 30%;
  margin: 1%;
min-height: 10vh;
  min-width: 300px;
}

.monitorURL {
  margin-bottom: 2px !important;
}

.monitorLastPing {
  margin-top: 2px;
}

.newMonitor {


  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
  transition-duration: 0.5s;

  &:hover {
    background-color: white!important;
  }
}